
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" routerLink="/users">Inicio</a>
    </li>
    @if(admin){
        <li class="nav-item">
            <a class="nav-link" routerLink="/users/create">Nuevo usuario</a>
        </li>
    }

    @if(login.isAuth){
    <li class="nav-item">
            {{ login.user.username }} <button (click)="handlerLogout()" class="btn btn-outline-success">Logout</button>
    </li>
    
    } @else {
    <li class="nav-item">
        <a class="nav-link active" routerLink="/login">Iniciar sesión</a>
    </li>
    }
</ul>