<div class="card">
    <div class="card-header">
        <h5 class="card-title">Página de inicio de sesión</h5>
    </div>

    <div class="card-body">
        <form (ngSubmit)="onSubmit()">
        <div class="mb-3 row">
            <div>
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre de usuario</label>
            </div>
            <div class="col-sm-3">
                <input name="username" [(ngModel)]="user.username" class="form-control">
            </div>
        </div>

        <div class="mb-3 row">
            <div>
            <label for="inputPassword6" class="col-sm-2 col-form-label">Password</label>
            </div>
            <div class="col-sm-3">
                <input name="password" type="password" [(ngModel)]="user.password" class="form-control">
            </div>
        </div>

            <button 
            class="btn btn-primary" 
            type="submit">
                Login
            </button>
        </form>
    </div>
    
</div>
    <div class="alert alert-primary" role="alert">
        <p><b>Nombre de usuario</b> : rsalgado </p>
        <p><b>Password</b> : testpass </p>
    </div>